# Project - Data Cleaning

## Introduction
In this lab, we'll make use of everything we've learned about pandas, data cleaning, and exploratory data analysis. In order to complete this lab, you'll have to import, clean, combine, reshape, and visualize data to answer questions provided, as well as your own questions!

## Objectives
You will be able to:
- Use different types of joins to merge DataFrames 
- Identify missing values in a dataframe using built-in methods 
- Evaluate and execute the best strategy for dealing with missing, duplicate, and erroneous values for a given dataset 
- Inspect data for duplicates or extraneous values and remove them 


## The dataset
In this lab, we'll work with the comprehensive [Super Heroes Dataset](https://www.kaggle.com/claudiodavi/superhero-set/data), which can be found on Kaggle!


## Getting Started

In the cell below:

* Import and alias pandas as `pd`
* Import and alias numpy as `np`
* Import and alias seaborn as `sns`
* Import and alias matplotlib.pyplot as `plt`
* Set matplotlib visualizations to display inline in the notebook

In [120]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

For this lab, our dataset is split among two different sources -- `'heroes_information.csv'` and `'super_hero_powers.csv'`.

Use pandas to read in each file and store them in DataFrames in the appropriate variables below. Then, display the `.head()` of each to ensure that everything loaded correctly.

In [121]:
heroes_df = pd.read_csv('heroes_information.csv')
powers_df = pd.read_csv('super_hero_powers.csv')

display(heroes_df.head(), powers_df.head())

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

It looks as if the heroes information dataset contained an index column.  We did not specify that this dataset contained an index column, because we hadn't seen it yet. Pandas does not know how to tell apart an index column from any other data, so it stored it with the column name `Unnamed: 0`.  

Our DataFrame provided row indices by default, so this column is not needed.  Drop it from the DataFrame in place in the cell below, and then display the head of `heroes_df` to ensure that it worked properly.

In [122]:
try:
    heroes_df = heroes_df.drop('Unnamed: 0', axis=1)
except:
    print('already dropped')
heroes_df.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

## Familiarize yourself with the dataset

The first step in our Exploratory Data Analysis will be to get familiar with the data.  This step includes:

* Understanding the dimensionality of your dataset
* Investigating what type of data it contains, and the data types used to store it
* Discovering how missing values are encoded, and how many there are
* Getting a feel for what information it does and doesn't contain

In the cell below, get the descriptive statistics of each DataFrame.

In [123]:
heroes_df.info()
powers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        734 non-null    object
 1   Gender      734 non-null    object
 2   Eye color   734 non-null    object
 3   Race        734 non-null    object
 4   Hair color  734 non-null    object
 5   Height      734 non-null    float64
 6   Publisher   719 non-null    object
 7   Skin color  734 non-null    object
 8   Alignment   734 non-null    object
 9   Weight      732 non-null    float64
dtypes: float64(2), object(8)
memory usage: 57.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Columns: 168 entries, hero_names to Omniscient
dtypes: bool(167), object(1)
memory usage: 114.1+ KB

## Dealing with missing values

Starting in the cell below, detect and deal with any missing values in either DataFrame. Then, explain your methodology for detecting and dealing with outliers in the markdown section below. Be sure to explain your strategy for dealing with missing values in numeric columns, as well as your strategy for dealing with missing values in non-numeric columns.  

Note that if you need to add more cells to write code in, you can do this by:

**1.** Highlighting a cell and then pressing `ESC` to enter command mode.  
**2.** Press `A` to add a cell above the highlighted cell, or `B` to add a cell below the highlighted cell. 

Describe your strategy below this line:
____________________________________________________________________________________________________________________________

Strategy - use isna() to identify any pure na values.  Next, inspect numerical columns using valuecounts to see if there are any overly common/unexpected values.
Finally, use unique on remaining columns to see if there are any non-na but still missing or placeholder values.

Once they are identified, find frequency of na values and replace or remove as appropriate (as described below).


NB: Also, we should probably check for duplicated values at some point.

In [124]:
display(heroes_df.isna().any(),
        powers_df.isna().any())

#display(powers_df.isna().sum().loc[True]) #this brings a key error so there are no na's
display(heroes_df.isna().value_counts())
display(powers_df.isna().sum().value_counts())

#So, it appears that Publisher, and Weight have some na values.  
#I want to inspect alignment and skin color as well since they have two false outputs.

name          False
Gender        False
Eye color     False
Race          False
Hair color    False
Height        False
Publisher      True
Skin color    False
Alignment     False
Weight         True
dtype: bool

hero_names               False
Agility                  False
Accelerated Healing      False
Lantern Power Ring       False
Dimensional Awareness    False
                         ...
Phoenix Force            False
Molecular Dissipation    False
Vision - Cryo            False
Omnipresent              False
Omniscient               False
Length: 168, dtype: bool

name   Gender  Eye color  Race   Hair color  Height  Publisher  Skin color  Alignment  Weight
False  False   False      False  False       False   False      False       False      False     719
                                                     True       False       False      False      13
                                                                                       True        2
dtype: int64

0    168
dtype: int64

In [126]:
#heroes_df fixes
display(heroes_df.isna().value_counts())
for col in ['Publisher','Weight' ]:
    print('Values for {}:\n{}\n\n'.format(col, heroes_df[col].unique()))
    
#After this inspection, we see that there are nan's in Publisher and -99s in Weight.
heroes_df.Publisher.value_counts(normalize=True)
heroes_df.loc[heroes_df['Publisher'].isna()]
print('Publisher NaNs:', len(heroes_df.loc[heroes_df['Publisher'].isna()]))
#There are 15 nan values.  They are all associated with characters that generally are associated with other mediums.  
#Note they often also have a -99 weight...so we may kill two birds with one stone.  I'm inclined to remove them so far.

#inspecting Weight values
heroes_df.Weight.value_counts(normalize=True)
#32% of characters have a placeholder weight!!!
#We shouldn't drop these rows.  But enough characters do have a weight that I don't want to drop the column either.
#So, I'll replace the na's with the median value.
#in addition, there are nan's here too
display("Weight NaNs:", heroes_df.Weight.isna().sum())
#it seems just 2 of them

#So, let's just drop all NaN rows from the table.
heroes_df.dropna(inplace=True)
display('After dropping NaNs:', heroes_df.Publisher.unique())

h_weight_no_placeholders = heroes_df.Weight[heroes_df.Weight != -99.]
display(h_weight_no_placeholders)
display(h_weight_no_placeholders[h_weight_no_placeholders.isna()])
h_weight_no_placeholders = h_weight_no_placeholders[h_weight_no_placeholders.isna()==False]
display('Weight NaNs after drop:',
        h_weight_no_placeholders[h_weight_no_placeholders.isna()].sum()) #so we've removed -99s and NaNs
weight_median = h_weight_no_placeholders.median()

def impute_weight(value):
    if value == -99:
        return weight_median
    else:
        return value
heroes_df.Weight = heroes_df['Weight'].map(lambda x: impute_weight(x))
heroes_df.Weight.apply(['mean', 'median', 'std'])
heroes_df.Weight.value_counts()

#ultimately, this makes a huge peak at the median value, but doesn't skew data or lose data.

#reminder: check for duplicated values
#there are duplicates, but we weren't yet asked to remove them so I will leave them.
heroes_df[heroes_df.duplicated()]
heroes_df.loc[heroes_df['name']=='Goliath']

name   Gender  Eye color  Race   Hair color  Height  Publisher  Skin color  Alignment  Weight
False  False   False      False  False       False   False      False       False      False     719
dtype: int64

Values for Publisher:
['Marvel Comics' 'Dark Horse Comics' 'DC Comics' 'NBC - Heroes'
 'Wildstorm' 'Image Comics' 'Icon Comics' 'SyFy' 'Hanna-Barbera'
 'George Lucas' 'Team Epic TV' 'South Park' 'HarperCollins' 'ABC Studios'
 'Universal Studios' 'Star Trek' 'IDW Publishing' 'Shueisha'
 'Sony Pictures' 'J. K. Rowling' 'Titan Books' 'Rebellion' 'Microsoft'
 'J. R. R. Tolkien']


Values for Weight:
[441.  65.  90.  81. 122.  88.  61. 104. 108.  72. 169. 173. 101.  68.
  57.  54.  83.  86. 358. 135. 106. 146.  63.  98. 270.  59.  50. 126.
  67. 180.  77.  52.  95.  79. 133. 181. 216.  71. 124. 155. 113.  58.
  92.  97.  56. 230. 495.  55. 110.  99. 158.  74. 116.  62. 170.  70.
  78. 225. 817.  27.  91. 178. 383. 171. 187. 132.  89. 412. 306.  80.
 203.  96.  18.  45. 167.  16. 630. 268. 115.   4.  48. 119. 207. 191.
   2.  14.  49. 855. 356. 324. 360. 288. 236.  36. 140. 128. 338. 248.
 125.  85. 293.  69. 405. 117.  87. 234. 320.  38.  25. 900. 310. 149.
 315. 153. 437. 131.  47. 176. 198. 443. 143.  76.  82. 105. 331. 214.
  73. 334.  41. 162.  39. 473.  51.  17.]


Publisher NaNs: 0

'Weight NaNs:'

0

'After dropping NaNs:'

array(['Marvel Comics', 'Dark Horse Comics', 'DC Comics', 'NBC - Heroes',
       'Wildstorm', 'Image Comics', 'Icon Comics', 'SyFy',
       'Hanna-Barbera', 'George Lucas', 'Team Epic TV', 'South Park',
       'HarperCollins', 'ABC Studios', 'Universal Studios', 'Star Trek',
       'IDW Publishing', 'Shueisha', 'Sony Pictures', 'J. K. Rowling',
       'Titan Books', 'Rebellion', 'Microsoft', 'J. R. R. Tolkien'],
      dtype=object)

0      441.0
1       65.0
2       90.0
3      441.0
4       81.0
       ...
729     52.0
730     81.0
731     17.0
732     57.0
733     81.0
Name: Weight, Length: 719, dtype: float64

Series([], Name: Weight, dtype: float64)

'Weight NaNs after drop:'

0.0

81.0     247
54.0      23
79.0      23
90.0      19
52.0      15
        ...
412.0      1
38.0       1
96.0       1
320.0      1
855.0      1
Name: Weight, Length: 134, dtype: int64

In [155]:
#powers_df fixes

#display(powers_df.isna().value_counts())
powers_df.columns
#for col in powers_df.columns:
#    print(col)

for col in powers_df.columns :
    for val in powers_df[col].unique():
        if val not in [False, True]:
            print('Values for {}:\n{}\n\n'.format(col, powers_df[col].unique()))
            break
            
#So, there are no values except True and False in columns, except for hero_names.

powers_df.hero_names.isna().sum()
#and there are no na values in the list of hero names.  
#we can check duplicates.
powers_df[powers_df.duplicated()]
#appears to be no repeated rows

Values for hero_names:
['3-D Man' 'A-Bomb' 'Abe Sapien' 'Abin Sur' 'Abomination' 'Abraxas'
 'Absorbing Man' 'Adam Monroe' 'Adam Strange' 'Agent Bob' 'Agent Zero'
 'Air-Walker' 'Ajax' 'Alan Scott' 'Alex Mercer' 'Alex Woolsly' 'Alien'
 'Allan Quatermain' 'Amazo' 'Ammo' 'Ando Masahashi' 'Angel' 'Angel Dust'
 'Angel Salvadore' 'Angela' 'Animal Man' 'Annihilus' 'Ant-Man'
 'Ant-Man II' 'Anti-Monitor' 'Anti-Spawn' 'Anti-Venom' 'Apocalypse'
 'Aquababy' 'Aqualad' 'Aquaman' 'Arachne' 'Archangel' 'Arclight' 'Ardina'
 'Ares' 'Ariel' 'Armor' 'Astro Boy' 'Atlas' 'Atom' 'Atom Girl' 'Atom II'
 'Atom III' 'Atom IV' 'Aurora' 'Azazel' 'Azrael' 'Aztar' 'Bananaman'
 'Bane' 'Banshee' 'Bantam' 'Batgirl' 'Batgirl IV' 'Batgirl VI' 'Batman'
 'Batman II' 'Battlestar' 'Batwoman V' 'Beak' 'Beast' 'Beast Boy' 'Ben 10'
 'Beta Ray Bill' 'Beyonder' 'Big Barda' 'Big Daddy' 'Big Man'
 'Bill Harken' 'Billy Kincaid' 'Binary' 'Bionic Woman' 'Bird-Brain'
 'Bird-Man' 'Bird-Man II' 'Birdman' 'Bishop' 'Bizarro' 'Bizarro-Girl'
 'Black Abbott' 'Black Adam' 'Black Bolt' 'Black Canary' 'Black Cat'
 'Black Flash' 'Black Knight III' 'Black Lightning' 'Black Mamba'
 'Black Manta' 'Black Panther' 'Black Vulcan' 'Black Widow' 'Blackout'
 'Blackwing' 'Blackwulf' 'Blade' 'Bling!' 'Blink' 'Blizzard' 'Blizzard II'
 'Blob' 'Bloodaxe' 'Bloodhawk' 'Bloodwraith' 'Blue Beetle'
 'Blue Beetle II' 'Blue Beetle III' 'Blue Streak' 'Boba Fett' 'Bomb Queen'
 'Boom-Boom' 'Booster Gold' 'Box IV' 'Bradley' 'Brainiac' 'Brainiac 5'
 'Brother Voodoo' 'Brundlefly' 'Buffy' 'Bullseye' 'Bumblebee' 'Bumbleboy'
 'Bushido' 'Cable' 'Callisto' 'Cameron Hicks' 'Cannonball'
 'Captain America' 'Captain Atom' 'Captain Britain' 'Captain Cold'
 'Captain Epic' 'Captain Hindsight' 'Captain Marvel' 'Captain Marvel II'
 'Captain Midnight' 'Captain Planet' 'Captain Universe' 'Carnage' 'Cat'
 'Catwoman' 'Century' 'Cerebra' 'Chamber' 'Chameleon' 'Changeling'
 'Cheetah' 'Cheetah II' 'Cheetah III' 'Chromos' 'Chuck Norris'
 'Citizen Steel' 'Claire Bennet' 'Clayface' 'Cloak' 'Cogliostro'
 'Colossus' 'Concrete' 'Copycat' 'Cottonmouth' 'Crimson Crusader'
 'Crimson Dynamo' 'Crystal' 'Curse' 'Cy-Gor' 'Cyborg' 'Cyborg Superman'
 'Cyclops' 'DL Hawkins' 'Dagger' 'Daphne Powell' 'Daredevil' 'Darkhawk'
 'Darkman' 'Darkseid' 'Darkstar' 'Darth Maul' 'Darth Vader' 'Dash' 'Data'
 'Dazzler' 'Deadman' 'Deadpool' 'Deadshot' 'Deathlok' 'Deathstroke'
 'Dementor' 'Demogoblin' 'Destroyer' 'Diamondback' 'Doc Samson'
 'Doctor Doom' 'Doctor Doom II' 'Doctor Fate' 'Doctor Octopus'
 'Doctor Poison' 'Doctor Strange' 'Domino' 'Donatello' 'Donna Troy'
 'Doomsday' 'Doppelganger' 'Dormammu' 'Dr Manhattan' 'Drax the Destroyer'
 'Ego' 'Elastigirl' 'Electro' 'Elektra' 'Elle Bishop' 'Elongated Man'
 'Emma Frost' 'Enchantress' 'Energy' 'Ethan Hunt' 'Etrigan'
 'Evil Deadpool' 'Evilhawk' 'Exodus' 'Fabian Cortez' 'Falcon'
 'Fallen One II' 'Faora' 'Feral' 'Fighting Spirit' 'Fin Fang Foom' 'Fire'
 'Firebird' 'Firelord' 'Firestar' 'Firestorm' 'Flash' 'Flash Gordon'
 'Flash II' 'Flash III' 'Flash IV' 'Forge' 'Franklin Richards' 'Frenzy'
 'Frigga' 'Galactus' 'Gambit' 'Gamora' 'Garbage Man' 'Gary Bell'
 'General Zod' 'Genesis' 'Ghost Rider' 'Ghost Rider II' 'Giganta'
 'Gladiator' 'Goblin Queen' 'Godzilla' 'Gog' 'Goku' 'Goliath IV'
 'Gorilla Grodd' 'Granny Goodness' 'Gravity' 'Greedo' 'Green Arrow'
 'Green Goblin' 'Green Goblin II' 'Green Goblin III' 'Green Goblin IV'
 'Groot' 'Guy Gardner' 'Hal Jordan' 'Han Solo' 'Hancock' 'Harley Quinn'
 'Harry Potter' 'Havok' 'Hawk' 'Hawkeye' 'Hawkeye II' 'Hawkgirl' 'Hawkman'
 'Heat Wave' 'Hela' 'Hellboy' 'Hellcat' 'Hellgramite' 'Hellstorm'
 'Hercules' 'Hiro Nakamura' 'Hit-Girl' 'Hobgoblin' 'Hollow' 'Hope Summers'
 'Hulk' 'Human Torch' 'Huntress' 'Husk' 'Hybrid' 'Hydro-Man' 'Hyperion'
 'Iceman' 'Impulse' 'Indiana Jones' 'Indigo' 'Ink' 'Invisible Woman'
 'Iron Fist' 'Iron Man' 'Iron Monger' 'Isis' 'JJ Powell' 'Jack of Hearts'
 'Jack-Jack' 'James Bond' 'James T. Kirk' 'Jar Jar Binks' 'Jason Bourne'
 'Jean Grey' 'Jean-Luc Picard' 'Jennifer Kale' 'Jessica Cruz'
 'Jessica Jones' 'Jim Powell' 'Johann Krauss' 'John Constantine'
 'John Stewart' 'John Wraith' 'Joker' 'Jolt' 'Jubilee' 'Judge Dredd'
 'Juggernaut' 'Junkpile' 'Justice' 'K-2SO' 'Kang' 'Karate Kid'
 'Kathryn Janeway' 'Katniss Everdeen' 'Kevin 11' 'Kick-Ass' 'Kid Flash'
 'Killer Croc' 'Killer Frost' 'Kilowog' 'King Kong' 'King Shark' 'Klaw'
 'Kool-Aid Man' 'Kraven II' 'Kraven the Hunter' 'Krypto' 'Kyle Rayner'
 'Kylo Ren' 'Lady Bullseye' 'Lady Deathstrike' 'Lara Croft' 'Leader'
 'Leech' 'Legion' 'Leonardo' 'Lex Luthor' 'Light Lass' 'Lightning Lad'
 'Lightning Lord' 'Little Epic' 'Living Brain' 'Living Tribunal'
 'Liz Sherman' 'Lizard' 'Lobo' 'Loki' 'Longshot' 'Lord Voldemort'
 'Luke Cage' 'Luke Campbell' 'Luke Skywalker' 'Luna' 'Lyja' 'MODOK'
 'Mach-IV' 'Machine Man' 'Magneto' 'Magog' 'Magus' 'Man of Miracles'
 'Man-Bat' 'Man-Thing' 'Man-Wolf' 'Mandarin' 'Mantis' 'Martian Manhunter'
 'Marvel Girl' 'Master Brood' 'Master Chief' 'Match' 'Matt Parkman'
 'Maverick' 'Maxima' 'Maya Herrera' 'Medusa' 'Meltdown' 'Mephisto' 'Mera'
 'Metallo' 'Metamorpho' 'Metron' 'Micah Sanders' 'Michelangelo'
 'Micro Lad' 'Mimic' 'Minna Murray' 'Misfit' 'Miss Martian'
 'Mister Fantastic' 'Mister Freeze' 'Mister Knife' 'Mister Mxyzptlk'
 'Mister Sinister' 'Mockingbird' 'Mohinder Suresh' 'Molten Man' 'Monarch'
 'Monica Dawson' 'Moon Knight' 'Moonstone' 'Morlun' 'Moses Magnum'
 'Mr Immortal' 'Mr Incredible' 'Ms Marvel II' 'Multiple Man' 'Mysterio'
 'Mystique' 'Namor' 'Namora' 'Namorita' 'Naruto Uzumaki' 'Nathan Petrelli'
 'Nebula' 'Negasonic Teenage Warhead' 'Nick Fury' 'Nightcrawler'
 'Nightwing' 'Niki Sanders' 'Nina Theroux' 'Northstar' 'Nova' 'Odin'
 'Offspring' 'Omniscient' 'One Punch Man' 'One-Above-All' 'Onslaught'
 'Oracle' 'Orion' 'Osiris' 'Overtkill' 'Ozymandias' 'Parademon'
 'Peek-a-Boo' 'Penance II' 'Penguin' 'Peter Petrelli' 'Phantom'
 'Phantom Girl' 'Phoenix' 'Plantman' 'Plastic Man' 'Plastique'
 'Poison Ivy' 'Polaris' 'Power Girl' 'Predator' 'Professor X'
 'Professor Zoom' 'Proto-Goblin' 'Psylocke' 'Punisher' 'Purple Man' 'Pyro'
 'Q' 'Quantum' 'Queen Hippolyta' 'Question' 'Quicksilver' 'Quill'
 "Ra's Al Ghul" 'Rachel Pirzad' 'Rambo' 'Raphael' 'Raven' 'Ray'
 'Razor-Fist II' 'Reactron' 'Red Arrow' 'Red Hood' 'Red Hulk' 'Red Mist'
 'Red Robin' 'Red Skull' 'Red Tornado' 'Redeemer II' 'Redeemer III' 'Rey'
 'Rhino' 'Rick Flag' 'Riddler' 'Rip Hunter' 'Ripcord' 'Robin' 'Robin II'
 'Robin III' 'Robin V' 'Robin VI' 'Rocket Raccoon' 'Rogue' 'Rorschach'
 'SHDB' 'Sabretooth' 'Sage' 'Sandman' 'Sasquatch' 'Sauron' 'Savage Dragon'
 'Scarecrow' 'Scarlet Spider' 'Scarlet Spider II' 'Scarlet Witch'
 'Scorpia' 'Scorpion' 'Sebastian Shaw' 'Sentry' 'Shadow King'
 'Shadow Lass' 'Shadowcat' 'Shang-Chi' 'Shatterstar' 'She-Hulk'
 'She-Thing' 'Shocker' 'Shriek' 'Sif' 'Silk' 'Silk Spectre'
 'Silk Spectre II' 'Silver Surfer' 'Silverclaw' 'Simon Baz' 'Sinestro'
 'Siren' 'Siren II' 'Siryn' 'Skaar' 'Snowbird' 'Sobek' 'Solomon Grundy'
 'Songbird' 'Space Ghost' 'Spawn' 'Spectre' 'Speedball' 'Speedy'
 'Spider-Girl' 'Spider-Gwen' 'Spider-Man' 'Spider-Woman'
 'Spider-Woman III' 'Spider-Woman IV' 'Spock' 'Spyke' 'Star-Lord'
 'Stardust' 'Starfire' 'Stargirl' 'Static' 'Steel' 'Stephanie Powell'
 'Steppenwolf' 'Storm' 'Stormtrooper' 'Stretch Armstrong' 'Sunspot'
 'Superboy' 'Superboy-Prime' 'Supergirl' 'Superman' 'Swamp Thing' 'Swarm'
 'Sylar' 'Synch' 'T-1000' 'T-800' 'T-850' 'T-X' 'TEST' 'Taskmaster'
 'Tempest' 'Thanos' 'The Cape' 'The Comedian' 'Thing' 'Thor' 'Thor Girl'
 'Thunderbird' 'Thunderbird III' 'Thunderstrike' 'Thundra' 'Tiger Shark'
 'Tigra' 'Tinkerer' 'Titan' 'Toad' 'Tommy Clarke' 'Toxin' 'Tracy Strauss'
 'Trickster' 'Trigon' 'Triplicate Girl' 'Triton' 'Tyrant' 'Ultragirl'
 'Ultron' 'Utgard-Loki' 'Valerie Hart' 'Valkyrie' 'Vanisher' 'Vegeta'
 'Venom' 'Venom II' 'Venom III' 'Venompool' 'Vertigo II' 'Vibe'
 'Vindicator' 'Violator' 'Violet Parr' 'Vision' 'Vixen' 'Vulture' 'Walrus'
 'War Machine' 'Warlock' 'Warp' 'Warpath' 'Wasp' 'Watcher' 'Weapon XI'
 'White Canary' 'Wildfire' 'Winter Soldier' 'Wolfsbane' 'Wolverine'
 'Wonder Girl' 'Wonder Man' 'Wonder Woman' 'X-23' 'X-Man' 'Yellowjacket'
 'Yellowjacket II' 'Ymir' 'Yoda' 'Zatanna' 'Zoom']

Empty DataFrame
Columns: [hero_names, Agility, Accelerated Healing, Lantern Power Ring, Dimensional Awareness, Cold Resistance, Durability, Stealth, Energy Absorption, Flight, Danger Sense, Underwater breathing, Marksmanship, Weapons Master, Power Augmentation, Animal Attributes, Longevity, Intelligence, Super Strength, Cryokinesis, Telepathy, Energy Armor, Energy Blasts, Duplication, Size Changing, Density Control, Stamina, Astral Travel, Audio Control, Dexterity, Omnitrix, Super Speed, Possession, Animal Oriented Powers, Weapon-based Powers, Electrokinesis, Darkforce Manipulation, Death Touch, Teleportation, Enhanced Senses, Telekinesis, Energy Beams, Magic, Hyperkinesis, Jump, Clairvoyance, Dimensional Travel, Power Sense, Shapeshifting, Peak Human Condition, Immortality, Camouflage, Element Control, Phasing, Astral Projection, Electrical Transport, Fire Control, Projection, Summoning, Enhanced Memory, Reflexes, Invulnerability, Energy Constructs, Force Fields, Self-Sustenance, Anti-Gravity, Empathy, Power Nullifier, Radiation Control, Psionic Powers, Elasticity, Substance Secretion, Elemental Transmogrification, Technopath/Cyberpath, Photographic Reflexes, Seismic Power, Animation, Precognition, Mind Control, Fire Resistance, Power Absorption, Enhanced Hearing, Nova Force, Insanity, Hypnokinesis, Animal Control, Natural Armor, Intangibility, Enhanced Sight, Molecular Manipulation, Heat Generation, Adaptation, Gliding, Power Suit, Mind Blast, Probability Manipulation, Gravity Control, Regeneration, Light Control, Echolocation, ...]
Index: []

[0 rows x 168 columns]

## Joining, Grouping, and Aggregating

In the cell below, join the two DataFrames.  Think about which sort of join you should use, as well as which columns you should join on.  Rename columns and manipulate as needed.  

**_HINT:_** Consider the possibility that the columns you choose to join on contain duplicate entries. If that is the case, devise a strategy to deal with the duplicates.

**_HINT:_** If the join throws an error message, consider setting the column you want to join on as the index for each DataFrame.

In the cell below, subset male and female heroes into different dataframes.  Create a scatterplot of the height and weight of each hero, with weight as the y-axis.  Plot both the male and female heroes subset into each dataframe, and make the color for each point in the scatterplot correspond to the gender of the superhero.

## Some Initial Investigation

Next, slice the DataFrame as needed and visualize the distribution of heights and weights by gender.  You should have 4 total plots.  

In the cell below:

* Slice the DataFrame into separate DataFrames by gender
* Complete the `show_distplot()` function.  This helper function should take in a DataFrame, a string containing the gender we want to visualize, and the column name we want to visualize by gender. The function should display a distplot visualization from seaborn of the column/gender combination.  

Hint: Don't forget to check the [seaborn documentation for distplot](https://seaborn.pydata.org/generated/seaborn.distplot.html) if you have questions about how to use it correctly!

In [ ]:
male_heroes_df = None
female_heroes_df = None

def show_distplot(dataframe, gender, column_name):
    pass

In [ ]:
# Male Height

In [ ]:
# Male Weight

In [ ]:
# Female Height

In [ ]:
# Female Weight

Discuss your findings from the plots above, with respect to the distribution of height and weight by gender.  Your explanation should include a discussion of any relevant summary statistics, including mean, median, mode, and the overall shape of each distribution.  

Write your answer below this line:
____________________________________________________________________________________________________________________________

### Sample Question: Most Common Powers

The rest of this notebook will be left to you to investigate the dataset by formulating your own questions, and then seeking answers using pandas and numpy.  Every answer should include some sort of visualization, when appropriate. Before moving on to formulating your own questions, use the dataset to answer the following questions about superhero powers:

* What are the 5 most common powers overall?
* What are the 5 most common powers in the Marvel Universe?
* What are the 5 most common powers in the DC Universe?

Analyze the results you found above to answer the following question:

How do the top 5 powers in the Marvel and DC universes compare?  Are they similar, or are there significant differences? How do they compare to the overall trends in the entire Superheroes dataset?

Write your answer below this line:
____________________________________________________________________________________________________________________________


### Your Own Investigation

For the remainder of this lab, you'll be focusing on coming up with and answering your own question, just like we did above.  Your question should not be overly simple, and should require both descriptive statistics and data visualization to answer.  In case you're unsure of what questions to ask, some sample questions have been provided below.

Pick one of the following questions to investigate and answer, or come up with one of your own!

* Which powers have the highest chance of co-occurring in a hero (e.g. super strength and flight), and does this differ by gender?
* Is there a relationship between a hero's height and weight and their powerset?
* What is the distribution of skin colors amongst alien heroes?

Explain your question below this line:
____________________________________________________________________________________________________________________________



Some sample cells have been provided to give you room to work. If you need to create more cells, you can do this easily by:

1. Highlighting a cell and then pressing `esc` to enter command mode.
1. Pressing `b` to add a cell below the currently highlighted cell, or `a` to add one above it.  

Be sure to include thoughtful, well-labeled visualizations to back up your analysis!

## Summary

In this lab, we demonstrated our mastery of:
* Using all of our Pandas knowledge to date to clean the dataset and deal with null values
* Using Queries and aggregations to group the data into interesting subsets as needed
* Using descriptive statistics and data visualization to find answers to questions we may have about the data